<div class="row markdown-body" style="margin-bottom: 20em;">

	<div class="column small-12">

		<br/>

		<h1>Basic HTML Elements</h1>
		<h3 class="subheader">Unit 1</h3>

		<hr/>
		<br/>

		<h3 class="text-highlight">Document Type</h3>
		<div class="row">
			<div class="column large-4">
				<h4 class="h4">Doctype</h4>
				<p>The <code prism>&lt;!DOCTYPE html&gt;</code> tag <em>always</em> goes at the top of your document</p>
				<h4 class="h4">HTML tags</h4>
				<p>The <code prism>&lt;html&gt;&lt;/html&gt;</code> tags come next.
				Everything on your site should go inside these tags.</p>
			</div>
			<div class="column large-7 large-offset-1">
				<pre class="line-numbers"><code prism>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;!-- the &lt;head&gt; and &lt;body&gt; tags go inside here! --&gt;
&lt;/html&gt;





				</code></pre>
			</div>
		</div>

		<br/>
		<hr/>
		<br/>

		<h3 class="text-highlight">The Head</h3>
		<div class="row">
			<div class="column large-4">
				<p>The head tags are like the brain of your website. No one sees them but they do stuff like hold the title of your website </p>
				<h4 class="h4">Title</h4>
				<p>The title tags hold the title of your website. They go in between the &lt;head&gt; tags.</p>
			</div>
			<div class="column large-7 large-offset-1">
				<pre class="line-numbers"><code prism>&lt;!DOCTYPE html&gt;
&lt;html&gt;

	&lt;head&gt;
		&lt;title&gt;My Awesome Website&lt;/title&gt;
	&lt;/head&gt;

&lt;/html&gt;
				</code></pre>
			</div>
		</div>

		<br/>
		<hr/>
		<br/>

		<h3 class="text-highlight">The Body</h3>
		<div class="row">
			<div class="column large-4">
				<p>The <code prism>&lt;body&gt;</code> tags <strong>COME AFTER</strong> the <code prism>&lt;head&gt;</code> tags. Everything that you want people to see should go between the body tags.</p>
			</div>
			<div class="column large-7 large-offset-1">
				<pre class="line-numbers"><code prism>&lt;!DOCTYPE html&gt;
&lt;html&gt;

	&lt;head&gt;
		&lt;title&gt;My Awesome Website&lt;/title&gt;
	&lt;/head&gt;

	&lt;body&gt;
	&lt;!-- Text and images go in between these &lt;body&gt; tags --&gt;
	&lt;/body&gt;

&lt;/html&gt;</code></pre>
			</div>
		</div>


		<br/>
		<hr/>
		<br/>

		<h3 class="text-highlight">Headings</h3>
		<div class="row">
			<div class="column small-4">
				<p>These are the heading tags we can choose from. <code prism>&lt;h1&gt;</code> is the biggest and <code prism>&lt;h6&gt;</code> is the smallest.</p>
			</div>
			<div class="column large-7 large-offset-1">
				<div class="blankslate panel" data-title="Example">
					<h1>Heading 1</h1>
					<h2>Heading 2</h2>
					<h3>Heading 3</h3>
					<h4>Heading 4</h4>
					<h5>Heading 5</h5>
					<h6>Heading 6</h6>
				</div>
				<div class="highlight">
					<pre><code prism>&lt;h1&gt;Heading 1&lt;/h1&gt;
&lt;h2&gt;Heading 2&lt;/h2&gt;
&lt;h3&gt;Heading 3&lt;/h3&gt;
&lt;h4&gt;Heading 4&lt;/h4&gt;
&lt;h5&gt;Heading 5&lt;/h5&gt;
&lt;h6&gt;Heading 6&lt;/h6&gt;</code></pre>
				</div>
			</div>
		</div>

		<br/>
		<hr/>
		<br/>

		<h3 class="text-highlight">Paragraphs</h3>
		<div class="row">
			<div class="column large-4">
				<p>We use <code prism>&lt;p&gt;</code> tags to give us <strong>paragraphs</strong>.</p>
			</div>
			<div class="column large-7 large-offset-1">
				<div class="blankslate panel" data-title="Example">
					<p>This is a paragraph tag. Isn't it interesting?</p>
				</div>
				<div class="highlight">
					<pre><code prism>&lt;p&gt;This is a paragraph tag. Isn't it interesting?&lt;/p&gt;</code></pre>
				</div>
			</div>
		</div>

		<br/>
		<hr/>
		<br/>

		<h3 class="text-highlight">Links</h3>
		<div class="row">
			<div class="column large-4">
				<p>We use <code prism>&lt;a&gt;</code> tags when we want to make a link.</p>
			</div>
			<div class="column large-7 large-offset-1">
				<div class="blankslate panel" data-title="Example">
					<a href="http://www.google.com">This is a link to google.com</a>
				</div>
				<div class="highlight">
					<pre><code prism>&lt;a href="http://www.google.com"&gt;This is a link to google.&lt;/a&gt;</code></pre>
				</div>
			</div>
		</div>

		<br/>
		<hr/>
		<br/>

		<h3 class="text-highlight">Images</h3>
		<div class="row">
			<div class="column large-4">
				<p>We use <code prism>&lt;img /&gt;</code> tags when we want to make an image.</p>
			</div>
			<div class="column large-7 large-offset-1">
				<div class="blankslate panel" data-title="Example">
					<img src="http://bit.ly/1KmQI9w" />
				</div>
				<div class="highlight">
					<pre><code prism>&lt;img src="http://bit.ly/1KmQI9w" /&gt;</code></pre>
				</div>
			</div>
		</div>

		<br/>

		<div class="row">
			<div class="column large-4">
				<h4 class="h4">Make it a link</h4>
				<p>We can put an <code prism>&lt;img /&gt;</code> tag inside of an <code prism>&lt;a&gt;&lt;/a&gt;</code> tag to make it link to another website.</p>
			</div>
			<div class="column large-7  large-offset-1">
				<div class="blankslate panel clearfix" data-title="Example">
					<div class="tooltipped tooltipped-n left" aria-label="I'm a link!. Click me.">
					<a href="http://www.google.com"><img src="http://bit.ly/1KmQI9w" /></a>&nbsp;
					</div>
				</div>
				<div class="highlight">
					<pre><code prism>&lt;a href="http://www.google.com"&gt;
	&lt;img src="http://bit.ly/1KmQI9w" /&gt;
&lt;/a&gt;</code></pre>
				</div>
			</div>
		</div>

		<br/>
		<hr/>
		<br/>

		<h3 class="text-highlight">Challenge</h3>

		<br/>

		<h4 class="h4 lead">Open SublimeText and create index.html on your desktop</h4>

		<ol>
			<li>Go to <strong>File > New</strong> to create a new document.</li>
			<li>Go to <strong>File > Save</strong> to save the document as index.html to your desktop.</li>
			<li>Open Chrome and go to <strong>File > Open</strong> to open your index.html file.</li>
		</ol>

		<br/>

		<h4 class="h4 lead">Create an html page with the following:</h4>

		<ol>
			<li>Your site should have a title.</li>
			<li>Create 3 <strong>headings</strong> using any of the heading tags, H1 to H6.</li>
			<li>Create 3 <strong>paragraphs</strong>.</li>
			<li>Create 2 <strong>images</strong>.</li>
			<li>Create 2 <strong>links</strong>, one using text and one using an image.</li>
		</ol>

		<br/>

		<h3 class="text-highlight">Bonus Points</h3>

		<p class="lead">Change the font size and color of your text with the 'style' attribute.</p>
		
		<div class="blankslate panel clearfix" data-title="Example">
			<h1 style="font-size: 50px; color: red;">I'm a big red heading 1!</h1>
			<h3 style="font-size: 24px; color: blue;">I'm a blue heading 3</h3>
			<p style="font-size: 18px; color: orange;">I'm an orange paragraph.</p>
		</div>
		<div class="highlight">
			<pre class="line-numbers"><code prism>&lt;h1 style="font-size: 50px; color: red;"&gt;I'm a big red heading 1!&lt;/h1&gt;
&lt;h3 style="font-size: 24px; color: blue;"&gt;I'm a blue heading 3&lt;/h3&gt;
&lt;p style="font-size: 18px; color: orange;"&gt;I'm an orange paragraph.&lt;/p&gt;</code></pre>
		</div>
	
	</div>

</div>

