body {
	font-size: 16px;
	line-height: 1.7em;
}
code, pre {
	font-size: 14px;	
}

pre {
	margin-bottom: 1.5em;
}

pre code {
	display: block;
}

.blankslate.panel {
	margin-bottom: 0;
}

code[class*="language-"] {
	background: none;
}
pre[class*="language-"] {
	margin: 0 0 1.5em;
}
code[class*="language-"],
pre[class*="language-"] {
    border: 0;
    border-radius: 0;
}
.text-highlight {
	color: #2ba6cb;
}