body {
	font-size: 16px;
	line-height: 1.7em;
}
code, pre {
	font-size: 14px;	
}

pre {
	margin-bottom: 1.5em;
}

pre code {
	display: block;
}

.h4 {
	font-weight: 900;
	font-size: 0.9em;
	text-transform: uppercase;
}

.blankslate.panel {
	margin-bottom: 0;
	position: relative;
}
.blankslate.panel:before {
    content: attr(data-title);
    display: block;
    position: absolute;
	position: relative;
	margin: -21px -21px 20px;
    font-size: 12px;
    font-weight: bold;
    color: #949494;
    background-color: #EAEAEA;
    padding: 0em 1em;
    border: 1px solid #ccc;
    border-bottom: 0;
}
.text-highlight {
	color: #2ba6cb;
}

.column.clear-both {
	clear: both;
}
.column.clear-left {
	clear: left;
}
.column.clear-right {
	clear: right;
}

.top-bar-section .has-dropdown:hover .dropdown {
	position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
    display: block;
    position: absolute !important;
}

.challenge-list li {
	margin-bottom: 0.5em;
    font-size: 1.2em;
}


/* ---------------------------------
 * Prism
 * --------------------------------- */

code[class*="language-"],
pre[class*="language-"] {
 	font-family: "Source Code Pro", "Monaco", monospace;
    border: 0;
    border-radius: 0;
}
code[class*="language-"] {
	background: none;
}
pre[class*="language-"] {
	margin: 0 0 80px;
	background-color: #272727;
	padding-top: 3em;
}
pre[class*='language-'][data-language]::before {
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: 900;
	font-size: 12px;
    color: #a5a5a5;
    background-color: #000;
    padding: 0.5em 1.5em 0.5em 1em;
    border-radius: 0;
    width: 100%;
}
pre.line-numbers {
	padding-left: 3em;
}

.token.property, 
.token.tag, 
.token.constant, 
.token.symbol, 
.token.deleted {
	color: #B2D48B;
}
.token.punctuation {
	color: #BCDCD1;
}
.token.selector, 
.token.attr-name, 
.token.string, 
.token.char, 
.token.builtin, 
.token.inserted {
    color: #EBED88;
}
.token.atrule, 
.token.attr-value, 
.token.function {
    color: #BCDCD1;
}
.token.comment, 
.token.prolog, 
.token.doctype, 
.token.cdata {
    color: #656F79;
}

.line-numbers .line-numbers-rows {
	border-color: #4B4C4E;
	width: 2.5em;
	left: -3em;
}
.line-numbers-rows > span:before {
	color: #656F79;
}















